star-rating{
	position: relative;
	display: inline-block;
	font-size:1.25em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.grade {
		font-size: 0.85em;
		color: #999;
		vertical-align: top;
		position: absolute;
		top: 0;
		line-height: 1.2em;
		right: -2.5em;

		&:before {
			vertical-align: top;
			content : ' - ';
		}
	}

	.tooltip {
		white-space: nowrap;
	}
}

.stars-group,
%stars-group{
	color: #EEE;
	display: inline-block;
}

.stars-group--hover{
	@extend %stars-group;
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	top: 0;
	left: 0;
}